
/* BASE - Base tyles, Variables, Mixins, etc. */


@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_base.scss';

/* MODULES - Individual site components */

@import 'modules/_typography.scss';
@import 'modules/_buttons.scss';



/* LAYOUTS - Page layout styles */



/*==================
 HEADER SECTION
====================*/

@import 'layouts/_header.scss';

/*==================
 NAVBAR SECTION
====================*/

@import 'layouts/_nav.scss';

/* ALL SECTION */

@import 'modules/_sections.scss';

/*==================
 FOOTER SECTION
====================*/

@import 'layouts/_footer.scss';

/*==================
 THEME COLOR
====================*/
@import 'modules/_theme-color.scss';

/*==================
 RESPONSIVE DESIGN
====================*/

@import 'modules/_responsive.scss';
