


$base-color:#333;

$base-font-size:15px;

$base-font: 'Open Sans', sans-serif;

$heading-font: 'Poppins', sans-serif;

$font-bold:700;

$theme-color:#59ABE3;

$secondary-color:#F7931D;



