


#aa-menu-area{
	left: 0;
	padding-top: 20px;
	position: absolute;
	right: 0;
	top: 35px;
	width: 100%;
	z-index: 99;
	.main-navbar{
		background-color: transparent;
		border: medium none;
		border-radius: 0;
		.navbar-header{
			.navbar-brand{
				padding: 0;
			}
			.aa-logo{
				border: 2px solid #fff;
				color: #fff;
				font-family: $heading-font;
				font-size: 30px;
				padding: 15px;
				line-height: 13px;
			}
			.aa-logo-img{
				border: none;
				height: 50px;
				width: 235px;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		.navbar-nav{
			li{
				a{
					color: #fff;					
					@include transition(all 0.5s);					
				}				
			}			
			.active{
				a{					
					background-color: #FFF;
				}
			}
			.open{
				a{
					background-color: #fff;					
				}
			}
			.dropdown-menu{
				border: none;
				border-radius: 0;
				margin-top: 5px;
				li{
					a{
						color: #555;
						padding: 8px 10px;						
					}
				}
			}
		}
		.navbar-right {		 
		  margin-right: -30px;
		}		
	}
	.navbar-fixed-top{
		background-color: #FFF;		
		padding: 15px 0;
		@include transition(all 0.5s);
		.navbar-header{
			.aa-logo{
				border: 2px solid #888;
				color: #555;				
			}	
		}
		.navbar-nav{
			li{
				a{
					color: #555;
				}
			}
		}
		
	}
}