.aa-primary-btn{	
	font-size: 16px;
	padding: 10px 30px;
	border: 1px solid #e9e9e9;
	margin-top: 10px;
	display: inline-block;
	@include transition(0.5s);

	&:hover,
	&:focus{		
		text-decoration: none;		
	}
	span{
		margin-right: 5px;
	}
}
.aa-secondary-btn{	
	color: #fff;	
	padding: 5px 10px;
	@include transition(all 0.5s);
	&:hover,
	&:focus{
		background-color: #000;
		color: #fff;
	}
}
.aa-view-btn{	
	color: #fff;	
	padding: 10px 15px;
	font-size: 16px;
	display: inline-block;
	@include transition(all 0.5s);
	&:hover,
	&:focus{
		background-color: #fff;			
	}
}
