
// TYPOGRAPHY

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{ 
	text-decoration: none;
	color:$base-color;  
}
a:hover,
a:focus{
	outline: none;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-family:$heading-font;
}
h2 {	
	font-size: 30px;
	font-weight:$font-bold;
	line-height: 40px;
	margin: 0;	  
}
img{
 border:none;
}
